<launch>
	<arg name="amount" value="6"/>

	<include file="$(find uav_controller)/launch/get_local_pose.launch">
		<arg name="uav_type" value="standard_vtol"/>
		<arg name="uav_amount" value="$(arg amount)"/>
	</include>

	<include file="$(find multi_demo)/launch/leader.launch">
		<arg name="uav_id" value="0"/>
	</include>
	
	<include file="$(find multi_demo)/launch/single_follower.launch">
		<arg name="uav_id" value="1"/>
		<arg name="uav_amount" value="$(arg amount)"/>
	</include>

	<include file="$(find multi_demo)/launch/single_follower.launch">
		<arg name="uav_id" value="2"/>
		<arg name="uav_amount" value="$(arg amount)"/>
	</include>
	
	<include file="$(find multi_demo)/launch/single_follower.launch">
		<arg name="uav_id" value="3"/>
		<arg name="uav_amount" value="$(arg amount)"/>
	</include>
	
	<include file="$(find multi_demo)/launch/single_follower.launch">
		<arg name="uav_id" value="4"/>
		<arg name="uav_amount" value="$(arg amount)"/>
	</include>
	
	<include file="$(find multi_demo)/launch/single_follower.launch">
		<arg name="uav_id" value="5"/>
		<arg name="uav_amount" value="$(arg amount)"/>
	</include>

</launch>

